<template name="registro2">
	<main id="conejita">
        <div class="cont_espera" style="display: none">
			<div class="tit_espera">
				<p>Gracias por registrarte</p>
			</div>
			<div class="texto_espera">
				<p>Quedas a la espera de nuestra revisión de los datos enviados. Una vez que corroboremos tu información, se te enviará un mail con información para el pago.
					<br>
					<br>
					Club Conejitas
				</p>
			</div>
			<div class="btn_envia"><p><a href="/" class="volver">volver</a></p></div>
		</div>
        <div class="caja_text_conejita">
        	<h2>Rellena tus datos</h2>
        	{{#if video}}
        		{{> quickForm collection="orion.entities.conejitas.collection" id="createConejitaForm" fields="realName, category, age, bornCountry, workCountry, workCity, heigh, weigh, measurements, message, services, schedule, place, sector, mainImage, image2, image3, image4, image5, image6, image7, image8, image9, image10, video, price, usdPrice, carPark, conscierge, piercing, tatoo, preservative, CI, evaluationCode, promedio, online" buttonContent="Enviar a revisión" buttonClasses="btnButton submit" }}
        	{{else}}
        		{{> quickForm collection="orion.entities.conejitas.collection" id="createConejitaForm" fields="realName, category, age, bornCountry, workCountry, workCity, heigh, weigh, measurements, message, services, schedule, place, sector, mainImage, image2, image3, image4, image5, image6, image7, image8, image9, image10, price, usdPrice, carPark, conscierge, piercing, tatoo, preservative, CI, evaluationCode, promedio, online" buttonContent="Enviar a revisión" buttonClasses="btnButton submit" }}
        	{{/if}}
        </div>
    </main>
</template>