<template name="registro2">
	<main id="conejita">
        <div class="caja_text_conejita">
        	<h2>Rellena tus datos</h2>
        	{{> quickForm collection="orion.entities.conejitas.collection" id="createConejitaForm" type="insert" fields="realName, category, age, bornCountry, workCountry, workCity, heigh, weigh, measurements, message, services, schedule, place, sector, mainImage, images, video, price, usdPrice, carPark, conscierge, piercing, tatoo, preservative, CI, evaluationCode, promedio, online" buttonContent="Enviar a revisión" buttonClasses="btnButton" type="submitCreateConejita" }}
        </div>
    </main>
</template>