<template name="registroConejita">
    <main id="conejita">
        <div class="caja_text_conejita">
        	<h2>Plan Conejita, selecciona tu opción</h2>
            <div style="text-align:center;">
              <div class="ico_plan"><input type="radio" name="plan" value="plan1" style="display:none" id="plan1"><label for="plan1"><img src="img/circuloplan1.png" width="73" height="73"></label></div>
              <div class="ico_plan"><input type="radio" name="plan" value="plan2" style="display:none" id="plan2"><label for="plan2"><img src="img/circuloplan2.png" width="73" height="73"></label></div>
            </div>
            <div class="plan1" style="display:none">
              <p>INCLUYE<br>
              Subir hasta 10 fotos - Servicio Webcam / Chat Online<br></p>

  			      <div class="caja_text_opcion">
                <input type="radio" name="opcion" value="opcion1" style="display:none" id="opcion1">
                <label for="opcion1">
                	<h3>OPCIÓN 1</h3>
                  <p>2 Semanas<br>
    				      $50.000</p>
                  </label>
              </div>
              
              <div class="caja_text_opcion">
                <input type="radio" name="opcion" value="opcion2" style="display:none" id="opcion2">
                <label for="opcion2">
                	<h3>OPCIÓN 2</h3>
                    <p>1 Mes<br>
    				        $75.000</p>
                    </label>
              </div>
              
              <div class="caja_text_opcion">
                <input type="radio" name="opcion" value="opcion3" style="display:none" id="opcion3">
                <label for="opcion3">
                	<h3>OPCIÓN 3</h3>
                    <p>3 Meses<br>
    				        $200.000</p>
                    </label>
              </div>

              <div class="caja_text_opcion">
                <input type="radio" name="opcion" value="opcion4" style="display:none" id="opcion4">
                <label for="opcion4">
                  <h3>OPCIÓN 4</h3>
                    <p>6 Meses<br>
                    $350.000</p>
                    </label>
              </div>

              <div class="caja_text_opcion">
                <input type="radio" name="opcion" value="opcion5" style="display:none" id="opcion5">
                <label for="opcion5">
                  <h3>OPCIÓN 5</h3>
                    <p>1 Año<br>
                    $650.000</p>
                    </label>
              </div>
            </div>

            <div class="plan2" style="display:none">
              <p>INCLUYE<br>
              Subir hasta 10 fotos - Chat online - Subida de video promocional -<br>
              Preferencia en portada - Lanzar ofertas</p>
              
              <div class="caja_text_opcion">
                <input type="radio" name="opcion" value="opcion1" style="display:none" id="opcion1">
                <label for="opcion1">
                  <h3>OPCIÓN 1</h3>
                    <p>1 Mes<br>
                    $100.000</p>
                    </label>
              </div>
              
              <div class="caja_text_opcion">
                <input type="radio" name="opcion" value="opcion2" style="display:none" id="opcion2">
                <label for="opcion2">
                  <h3>OPCIÓN 2</h3>
                    <p>3 Meses<br>
                    $250.000</p>
                    </label>
              </div>

              <div class="caja_text_opcion">
                <input type="radio" name="opcion" value="opcion3" style="display:none" id="opcion3">
                <label for="opcion3">
                  <h3>OPCIÓN 3</h3>
                    <p>6 Meses<br>
                    $450.000</p>
                    </label>
              </div>

              <div class="caja_text_opcion">
                <input type="radio" name="opcion" value="opcion4" style="display:none" id="opcion4">
                <label for="opcion4">
                  <h3>OPCIÓN 4</h3>
                    <p>1 Año<br>
                    $800.000</p>
                    </label>
              </div>
            </div>
            <div class="otros_servicios"><p>*** Otros servicios no incluidos en el plan ***<br>
            <table>
              <tr><td><input type="checkbox" name="fotoPro" id="fotoPro"/></td><td><label for="fotoPro">Fotografía profesional con locación y estudio.</label></td></tr>
              <tr><td><input type="checkbox" name="videoPro" id="videoPro"/></td><td style="text-align:left;"><label for="videoPro">Realización de video promocional en HD.</label></td></tr>
            </table>
				Selecciona si deseas recibir más información</p></div>
                
            
            <div class="formulario_registro_conejita">
               <form action="#" id="registro" name="registro" method="post">
               <!-- <label for="plan">Plan seleccionado</label>
               	<select name="plan">
            		<OPTION VALUE="3meses">3 Meses</OPTION> 
						<OPTION VALUE="6meses">6 Meses</OPTION> 
						<OPTION VALUE="1ano">1 Año</OPTION> 
            	</select> -->
               <label for="nick">Nombre de fantasía</label><input name="nick" type="texto" required placeholder="elige un nombre">
               <label for="fono">Teléfono</label><input name="fono" type="texto" required placeholder="ingresa tu teléfono">
               <label for="mail">E-mail</label><input name="mail" type="email" required placeholder="ingresa tu email">
               <label for="pass">Contraseña</label><input name="pass" type="password" required placeholder="crea una contraseña">
               <label for="rpass">Repetir contraseña</label><input name="rpass" type="password" required placeholder="crea una contraseña"><br>
               <div class="caja_contrato">
                  <div class="titulo_contrato"><p>CONTRATO DE PUBLICIDAD (www.clubconejitas.com)</p></div>
                  <div class="text_contrato1"><p>Comparece: "CLUB CONEJITAS", integrado  y representado por toda y cada una de las personas que individualmente suscriben  el presente contrato, en el presente caso por NOMBRE REAL CONEJITA y la agencia de publicidad que se Indica a continuación en OBJETO DEL CONTRATO,  exponen que han convenido en celebrar el siguiente contrato de publicidad.</p>
                  </div>
                    <div class="text_contrato2">
                      <p>1. Objeto del contrato.<br>
"Club Conejitas" contrata los servicios de la agencia de publicidad "Cortez & Cortez", para que confeccione una página web en donde los o las integrantes del club puedan publicitar su perfil  e imágenes dentro del país, y contar con el servicio de chat y web cam online, además la creación, administración y mantenimiento de plataformas para video conferencia de los miembros del club  con las personas que deseen contactarlas.
La página web será creada conforme a los parámetros que indique el cliente y con la asesoría web,  técnica en cuanto a publicidad, diseño de la página que debe proporcionar el publicista.<br>
LA PLATAFORMA O PAGINA WEB Club Conejitas ofrece distintas categorías a las que puede acceder el oferente publicitario a libre elección de acuerdo a lo que estimen conveniente.<br>
Una vez suscrito el contrato cualquier modificación, de la naturaleza que sea, deberá estar previamente aprobada por el publicista. En consecuencia, queda prohibido al cliente realizar  modificaciones por su cuenta a la página o su perfil.<br>
Todo el contenido de la página web es de exclusiva responsabilidad de "Club Conejitas", el publicista sólo es responsable de la creación artística, el  mantenimiento, su actualización y perfeccionamiento de la misma  conforme a las directrices de "Club Conejitas".<br>
No obstante lo anterior, la creación artística e intelectual del trabajo publicitario, como la página web creada es propiedad intelectual de la agencia de publicidad.<br>
Las inserciones semanales, mensuales o anuales se renovarán automáticamente, conforme a la tarifa y modalidad que elija el socio o la socia integrante del Club Conejitas, a no ser que exista comunicación del cliente con un mes de antelación, manifestando la intención de no renovación.<br>
2. Características de la inserción publicitaria. <br>
Las características de la inserción publicitaria serán las que el cliente seleccione del anexo denominado anexo de tarifas
3. Obligaciones del publicista.<br>
El publicista insertará la publicidad entregada por el cliente.<br>
Se compromete a publicar el anuncio publicitario con las características descritas, en los términos acordados en el anexo  y a lo largo de la duración de la relación contractual.<br>
Los anuncios o imágenes son de exclusiva responsabilidad de "Club Conejitas" o del cliente que lo publicita.<br>
4. Obligaciones del cliente.<br>
Se compromete a realizar el pago de las cantidades que correspondan según lo establecido en la disposición relativa a las condiciones económicas.<br>
Se obliga a proporcionar en tiempo y forma el anuncio publicitario que desea incluir en la web; en el formato concreto especificado.<br>
Garantizar al publicista que toda la información proporcionada es fidedigna, especialmente en cuanto a la mayoría de edad. Si así no lo hiciere el publicista puede iniciar acciones legales en por el delito de falsedad previsto y sancionado en el Código Penal chileno.<br>
Garantizar al publicista que la elaboración de la publicidad se ajusta a la normativa relativa a publicidad, servicios de la sociedad de la información, consumidores y usuarios, derecho de competencia; así como cualquier otra normativa que pudiera ser aplicable.<br>
El cliente se obliga a indemnizar al publicista por todos aquellos daños y perjuicios que pudiera causar la inserción del anuncio conforme a lo dispuesto en el presente contrato o la anulación del mismo.<br>
5. Precio.<br>
La prestación de servicio de inserción de publicidad contratado está sujeta a las tarifas de publicidad y descuentos vigentes, que se indican en el anexo correspondiente relativo a tarifas salvo otro tipo de acuerdo que será reflejado como anexo al presente contrato. <br>
6. Secreto y protección de datos.<br>
Las partes se obligan a mantener absoluto secreto sobre toda la información confidencial existente durante la vigencia del contrato y la finalización del mismo. Se entenderá por información confidencial toda aquella información, principal o accesoria, intercambiada por las partes para llevar a cabo el presente contrato. El socio o la socia del Club Conejitas se obliga a proporcionarle al publicista copia de su identificación legal, cédula de identidad y documentos que se le requieran vía online, con declaración Expresa de que corresponden a su persona y que son absolutamente veraces
Las partes declaran conocer y cumplir expresamente la legislación sobre protección de datos, comprometiéndose a tratar los datos obtenidos del desarrollo del presente proyecto de acuerdo con dicha normativa.<br>
7. Propiedad intelectual.<br>
Todo el material entregado por parte del cliente incluyendo fotos, slogans, videos, etcétera; serán de propiedad del publicista, y es material protegido por las normas de propiedad intelectual e industrial, quedando prohibido su uso y reproducción por parte del cliente para cualquier fin distinto al regulado en el presente contrato, así como por cualquier otro tercero. El cliente se responsabiliza de cualquier tipo de reclamación que pudiera mediar por parte de terceros alegando un derecho de propiedad intelectual o industrial respecto al contenido del anuncio publicitario.<br>
8. Responsabilidad.<br>
El publicista será, exclusivamente, responsable en los casos de no cumplir con la prestación del servicio, plazo y forma estipulados en el presente contrato. 
El publicista no será responsable en ningún caso de otro tipo de daños, de cualquier naturaleza o clase, que pudieran derivarse de la inserción del material publicitario en sus soportes informativos, incumplimientos o retrasos debidos a causas de fuerza mayor, o que estén fuera de su control.<br>
9. Prohibiciones.<br>
Queda prohibido a cualquier integrante del Club Conejitas suplantar la identidad por una persona distinta a la que se publicitada, bajo sanción de anular por este solo hecho el contrato, obligándose a la persona infractora a indemnizar al publicista y siendo retirada inmediatamente de la publicidad, sin devolución de dinero y sin perjuicio de las sanciones penales a que haya lugar. <br>
10.- Opciones.<br>
El club podrá encargar al publicista la creación, organización y desarrollo de diversos tipos de eventos como concursos, directos o vía online entre los o las integrantes del club, estableciendo condiciones de participación, tipo de concurso, condicione de competencia, forma de acceder a premios monto y naturaleza de los mismos.
</p>
                    </div>
               </div>
               <input name="mayor" type="checkbox" value="mayor" id="mayor" required><label for="mayor">Leí y acepto el contrato.</label>     
               <input id="boton" name="enviar" type="submit" value="Siguiente">
               </form>
        	</div>
            
            <div class="legales_registro_conejitas">
                <p><a href="#">Política de Privacidad</a></p> <p><a href="#">Contrato y Términos Legales</a></p><br>
              <span>*** Sitio para mayores de 18 años ***</span>
            </div>
            
            <div class="boton_conejita"><p><a href="index.html">Volver al inicio</a></p></div>
            
        </div>
    </main>
</template>