<template name="registroUsuarios">
	<main id="control">
		<div class="caja_titulo_control">
	      <p>Regístrate</p>
	    </div>
	    <div class="caja_control">
	        <div class="contenido_control">
	        	<div class="caja_cont_registrate">
	            	<div class="titulo_registrate"><p>Bienvenido! Crea tu registro</p></div>
	            		<div class="message"></div>
	                   <form action="#" id="registro" class="formulario" name="registro" method="post">
	                       <label for="nick">E-mail:</label><input name="email" type="email" required placeholder="Introduce tu email">
	                       <label for="nick">Nick:</label><input name="nick" type="text" required placeholder="Elige un nombre">
	                       <label for="pass">Contraseña:</label><input name="password" type="pass" required placeholder="Crea una contraseña">
	                       <label for="rpass">Repetir contraseña:</label><input name="rpass" type="pass" required placeholder="Crea una contraseña">
	                       
	                       <input name="mayor" type="checkbox" value="mayor" id="mayor"> <label for="mayor"><span>Soy mayor de 18 años y acepto los términos legales.</span></label>
                           {{> reCAPTCHA}}
	                       <input id="boton" name="enviar" type="submit" value="Registratme">
	                   </form>
	            </div>
	        </div>
	        
	    </div>
	</main>
</template>