<template name="contacto">
    <main id="conejita">
        <div class="caja_text_conejita">
            <h2>Comunícate...</h2>

            <div class="formulario_registro_conejita">
                <div id="registro" name="registro">
                    <label for="nick">Nombre</label><input name="name" type="text" required="" placeholder="">
                    <label for="fono">Teléfono</label><input name="phone" type="text" required="" placeholder="">
                    <label for="mail">E-mail</label><input name="email" type="email" required="" placeholder="">
                    <label for="mail">Mensaje</label>
                    <textarea name="message" cols="" rows="" style="width:90%; max-width:90%; height:120px; padding:1%; margin-top:5px;"></textarea>
                    {{> reCAPTCHA}}
                    <input id="boton" name="enviar" type="submit" class="contactoEnviar" value="Enviar">
                </div>

                <!--ESTE ES EL MENSAJE QUE DEBERÁ APARECER CUANDO EL USUARIO PRESIONE ENVIAR-->
                <div class="mensaje_enviado message" style="display: none"><p>El mensaje fue enviado correctamente.</p></div>

            </div>

            <div class="boton_conejita"><p><a href="index.html">Volver al inicio</a></p></div>


        </div>
      <!--<div class="caja_text_conejita">
        <h2>Contáctanos</h2>
        Nombre: <input type="text" name="name" /><br>
        Su correo email: <input type="email" name="email" /><br>
        Asunto: <input type="text" name="subject" /><br>
        Mensaje: <textarea name="message"></textarea><br><br>
        <div class="otros_servicios">
        Quiero recibir más información sobre:
        <table>
          <tr><td><input type="checkbox" name="fotoPro" id="fotoPro"></td><td><label for="fotoPro">Fotografía profesional con locación y estudio.</label></td></tr>
          <tr><td><input type="checkbox" name="videoPro" id="videoPro"></td><td style="text-align:left;"><label for="videoPro">Realización de video promocional en HD.</label></td></tr>
        </table>
        </div>
        <button class="contactoEnviar">Enviar</button><br>
        <p class="message"></p>
      </div>-->
    </main>
</template>