<template name="conejitas">
	<main>
		<div class="caja_titulo"><p>Conejitas mejor evaluadas</p></div>
		<div class="caja_conejitas_home">
			{{# each conejitas }}
				{{> conejitaItem }}
			{{/ each }}
		</div>

		{{# each categories}}
			{{>categoriesList}}
		{{/each}}
	</main>

	<aside style="position:absolute; display:inline-block">
    	<div class="caja_titulo_aside"><p>Conejitas con Webcam</p></div>

    	{{#each conejasOnline}}
        <div class="foto_conejita_webcam">
        	<a href="/chat/public/{{ _id }}"><img src="{{ mainImage.url }}" width="275" height="313" title="Webcam Conejitas">
        	<div class="video_ico"><img src="img/div-video.png" width="275" height="100"></div></a>
        </div>
        {{/ each}}
        {{#if currentUser}}
        <div class="banner_home"><a href="/usuarios/album"><img src="img/banner-album.jpg" width="275" height="173" title="Álbum de Conejitas"></a></div>
        {{ else }}
        <div class="banner_home"><a href="/usuarios/login"><img src="img/banner-album.jpg" width="275" height="173" title="Álbum de Conejitas"></a></div>
        {{/if}}
    </aside>
</template>

<template name="categoriesList">
	<div class="caja_titulo"><p>Conejitas {{name}}</p></div>
	<div class="caja_conejitas_home">
		{{# each conejitas }}
			{{> conejitaItemCategory }}
		{{/ each }}
	</div>
</template>