<template name="panelConejitas">
    <main id="control">
        {{#with conejita}}
        <div class="caja_titulo_control"><p>Panel de Control</p></div>
        <div class="caja_control">
            <div class="tit_bienvenida"><p>Bienvenida {{name}}</p></div>
            <div class="ver_perfil"><p><a href="/conejita/{{_id}}">Ver mi perfil</a></p></div>
            <div class="cerrar_perfil"><p><a href="/logout">Cerrar sesión</a></p></div>
            <div class="contenido_control">
                <div class="caja_control1">
                    <div class="caja_valora">
                        <div class="caja_puntua"><p>Puntuación</p></div>
                        <div class="caja_puntua_traedato"><p>{{promedio}}</p></div>
                    </div>
                    <div class="caja_valora">
                        <div class="caja_puntua"><p>Nº Evaluaciones</p></div>
                        <div class="caja_puntua_traedato"><p>{{cantidadEvaluaciones}}</p></div>
                    </div>
                    <div class="caja_valora">
                        <div class="caja_puntua"><p>Valoración</p></div>
                        <div class="estrellas_vip"><img src="img/estrella3.png"></div>
                    </div>
                </div>

                <div class="caja_control2">
                    <div class="caja_valora">
                        <div class="caja_codigo"><p>Tu código conejita es:</p></div>
                        <div class="caja_codigo_traedato"><p>{{evaluationCode}}</p></div>
                        <div class="text_codigo"><p>Entrega este código a tus clientes para que puedan calificarte.</p></div>
                    </div>
                    <div class="prende_camara">
                        <div class="ico_camara_control"><img src="/img/ico-cam-control.png" width="33" height="41"></div>
                        <div class="cont_boton">
                            <div class="btn_camara"><p><a href="/chat/conejitas/public/{{_id}}">Activa sesión de cámara</a></p></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contenido_control">
                <div class="caja_control1">
                    <div class="caja_valora">
                        <div class="caja_puntua"><p>Nombre</p></div>
                        <div class="caja_nombre_traedato">
                            <p>{{name}}</p></div>
                        <!--<div class="btn_edita"><p><a href="#">Editar</a></p></div>-->
                    </div>
                    <div class="caja_valora">
                        <div class="caja_puntua"><p>Ciudad</p></div>
                        <SELECT NAME="ciudad" SIZE="1">
                            {{#each ciudades}}
                                <OPTION selected="{{ciudadesSelected}}" value="{{_id}}">{{name}}</OPTION>
                            {{/each}}
                        </SELECT>
                    </div>
                </div>

                <div class="caja_control2">
                    <div class="caja_valora">
                        <div class="caja_cronometro"><p>Cronómetro descuento Conejita</p></div>
                        <div class="caja_cronometro_datos">
                            <div class="caja_cronometro_traedato"><p>60:60:60</p></div>
                            <div class="caja_cronometro_traedato"><p>$9.999.999</p></div>
                        </div>
                        <div class="text_crono"><p>Tiempo uso en privado<br>
                            vía Webcam.</p></div>
                        <div class="text_crono2"><p>Descuento en CLP para<br>
                            próximo registro.</p></div>
                    </div>
                </div>
            </div>

            <div class="tit_perfil"><p>Edita tu perfil</p></div>

            <div class="contenido_control">
                <div class="caja_fotos">
                    <div class="foto_control"><img src="{{mainImage.url}}" width="155" height="177"></div>
                    <div class="caja_cambia_fotos">
                        <p>Sube tus fotos</p>
                        <div class="formatos">
                            <p>Formatos de imágenes<br>
                                JPG - PNG</p>
                        </div>
                        <input type="file" id="archivo" name="mainImage" />
                        <input type="file" id="archivo" name="image2" />
                        <input type="file" id="archivo" name="image3" />
                        <input type="file" id="archivo" name="image4" />
                        <input type="file" id="archivo" name="image5" />
                        <input type="file" id="archivo" name="image6" />
                        <input type="file" id="archivo" name="image7" />
                        <input type="file" id="archivo" name="image8" />
                        <input type="file" id="archivo" name="image9" />
                        <input type="file" id="archivo" name="image10" />

                        {{#if video}}
                        <p>Sube tu video</p>
                        <div class="formatos"><p>Formatos de video<br>
                            MP4 - AVI</p>
                            <input type="file" id="archivo" name="video" />
                        </div>
                        {{/if}}
                    </div>
                </div>

                <div class="caja_info">
                    <div class="info1">
                        <div class="tit_info"><p>Edita Información</p></div>
                        <div class="contenedor_item">
                            <div class="caja_nombre_item"><p>Edad:</p></div>
                            <SELECT name="age" SIZE="1" style="width:85px;">
                                {{#each ages}}
                                    <OPTION selected="{{agesSelected}}" VALUE="{{this}}">{{this}}</OPTION>
                                {{/each}}
                            </SELECT>
                        </div>

                        <div class="contenedor_item">
                            <div class="caja_nombre_item"><p>Altura:</p></div>
                            <SELECT name="heigh" SIZE="1" style="width:85px;">
                                {{#each alturas}}
                                    <OPTION selected="{{alturasSelected}}" VALUE="{{this}}">{{this}} mts.</OPTION>
                                {{/each}}
                            </SELECT>
                        </div>

                        <div class="contenedor_item">
                            <div class="caja_nombre_item"><p>Peso:</p></div>
                            <SELECT name="weigh" SIZE="1" style="width:85px;">
                                {{#each pesos}}
                                    <OPTION selected="{{pesosSelected}}" VALUE="{{this}}}">{{this}} Kg.</OPTION>
                                {{/each}}
                            </SELECT>
                        </div>

                        <div class="contenedor_item">
                            <div class="caja_nombre_item"><p>Medidas:</p></div>
                            <input id="medidas" type="text" placeholder="tus medidas" name="measurements" value="{{measurements}}">
                        </div>
                    </div>

                    <div class="info2">
                        <div class="tit_info"><p>Edita otros datos</p></div>
                        <div class="contenedor_item">
                            <div class="caja_nombre_item"><p>Horario:</p></div>
                            <input id="horarios" type="text" placeholder="horarios" name="schedule" value="{{schedule}}">
                        </div>

                        <div class="contenedor_item">
                            <div class="caja_nombre_item"><p>Lugar:</p></div>
                            <input id="lugar" type="text" placeholder="lugar" value="{{place}}" name="place">
                        </div>

                        <div class="contenedor_item">
                            <div class="caja_nombre_item"><p>Sector:</p></div>
                            <input id="sector" type="text" placeholder="sector" value="{{sector}}" name="sector">
                        </div>

                        <div class="contenedor_item">
                            <div class="caja_nombre_item"><p>Teléfono:</p></div>
                            <input id="telefono" type="text" placeholder="teléfono" value="{{phone}}" name="phone">
                        </div>
                    </div>

                    <div class="info3">
                        <div class="tit_info"><p>Edita valores</p></div>
                        <div class="contenedor_item">
                            <div class="caja_nombre_item"><p>Pesos CLP</p></div>
                            <input id="pesos" type="text" placeholder="$" value="{{price}}" name="price">
                        </div>

                        <div class="contenedor_item">
                            <div class="caja_nombre_item"><p>Dólares</p></div>
                            <input id="dolares" type="text" placeholder="USD" value="{{usdPrice}}" name="usdPrice">
                        </div>

                        <div class="contenedor_item">
                            <div class="caja_nombre_item"><p>Categoría</p></div>
                            <select name="category" size="1" style="width:85px;">
                                {{#each categories}}
                                    <OPTION selected="{{categoriaSelected}}" VALUE="{{this.name}}">{{this.name}}</OPTION>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="caja_info">
                    <div class="info5">
                        <div class="tit_info"><p>Configura tu "Oferta Especial"</p></div>

                        <div class="info5_especial">
                            <div class="tit_info_gris"><p>Configura tus valores para la oferta</p></div>
                            <div class="contenedor_item_oferta">
                                <div class="caja_nombre_item"><p>Pesos CLP</p></div>
                                <input id="pesos" type="text" placeholder="$" name="precioCLP">
                            </div>

                            <div class="contenedor_item_oferta">
                                <div class="caja_nombre_item"><p>Dólares</p></div>
                                <input id="pesos" type="text" placeholder="USD" name="precioUSD">
                            </div>

                            <div class="contenedor_item_oferta">
                                <div class="caja_nombre_item"><p>Fin oferta</p></div>
                                <input id="pesos" type="date" placeholder="fecha" name="finOferta">
                            </div>

                            <div class="caja_mensajes_oferta">
                                <div class="btn_envia" id="publicarOferta"><p><a href="#">Publicar Oferta</a></p></div>
                            </div>

                            <div class="tit_info_gris"><p>Si publicas tu oferta, tu perfil aparecerá en la sección "Ofertas Especiales"</p></div>

                        </div>
                    </div>
                </div>

                <div class="caja_info">
                    <div class="info1">
                        <div class="tit_info"><p>Edita Servicios</p></div>
                        {{#each services}}
                        <div class="contenedor_item">
                            <div class="caja_input">
                                <input name="servicios[]" checked="{{isChecked}}" type="checkbox" value="{{_id}}" style="margin-top:3px;margin-left:0px;width:15px;height:15px;">
                            </div>
                            <div class="servicio_item"><p>{{name}}</p></div>
                        </div>
                        {{/each}}
                    </div>

                    <div class="info4">
                        <div class="tit_info"><p>Mensaje al Cliente</p></div>
                        <textarea name="mensaje" cols="" rows="" style="width:100%;height:120px;">{{message}}</textarea>

                        <div class="caja_mensajes">
                            <div class="btn_envia" id="enviar"><p><a href="#">Enviar solicitud</a></p></div>
                            <div class="btn_envia"><p><a href="#">Dudas y Consultas</a></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/with}}
    </main>
</template>