<template name="contactoMobile">
    <main>
        <div class="caja_terminos">
            <div class="caja_contacto">
                <h1>Contacto</h1>
                <p>Déjanos tus dudas y/o comentarios.</p>
                <p class="message"></p>
                <!--<form id="formulario" method="POST">-->
                    <span>Nombre</span>
                    <input type="text" name="name" id="nombre">
                    <br/>
                    <span>Email</span>
                    <input type="email" name="email" id="email">
                    <br/>
                    <span class="coment">Mensaje</span>
                    <textarea name="comentarios" id="comentarios"></textarea>
                    <br/>
                    <input type="submit" class="btn btn-primary" id="btnEnviar" value="Enviar">
                <!--</form>-->
            </div>
        </div>
    </main>
</template>